/* GalleryItem.css */

.selectBox select option{
  background:#FF6B00;
  color:#fff;
  padding:10px 0 0 10px;
  font-family: 'Noto Sans KR', sans-serif;
  font-size:0.7vw;
  font-weight:300;
  letter-spacing:0.03em;
}