/* HomeAbout.css */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700;900&display=swap');

*{box-sizing:border-box; list-style-type:none;}
body{margin:0; padding:0;}
*{margin:0; padding:0;}

.visual{
  width:100%;
  height:100%;
  background-image:url(./image/HOME&ABOUT/visual.png);
  background-repeat:no-repeat;
  background-size:cover;
}
.visual .v-text p{
  /* border:1px solid red; */
  margin-left:12vw;
}
.visual .v-text p:nth-child(1){
  color:rgba(255, 255, 255, 0.7);
  font-size:3.5vw;
  font-family: 'Noto Sans KR', sans-serif;
  font-weight:700;
  letter-spacing:0.01em;
  padding-top:40vh;
  margin-bottom:0;
}
.visual .v-text p:nth-child(2){
  color:rgba(255, 210, 171, 0.5);
  font-size:2vw;
  font-family: 'Noto Sans KR', sans-serif;
  font-weight:600;
  letter-spacing:0.01em;
  margin-top:10px;
}

#about {
  width:100%;
  height:auto;
}
#about .con01{
  /* border:1px solid crimson; */
  width:100%;
  height:92vh;
  background-color:#FFF0D9;
}
#about .con01 a{
  text-decoration:none;
  color:#000;
}
#about .con01 ul{
  width:100%;
  height:100%;
  overflow:hidden;
}
#about .con01 ul li{
  /* border:1px solid blue; */
  width:50%;
}
#about .con01 ul li.c01-left{
  float:left;
  padding:30vh 0 0 12vw;
}
#about .con01 ul li.c01-left p{}
#about .con01 ul li.c01-left p:nth-child(1){
  font-family: 'Noto Sans KR', sans-serif;
  font-size:2.6vw;
  font-weight:700;
}
#about .con01 ul li.c01-left p:nth-child(2){
  margin-top:2vh;
  font-family: 'Noto Sans KR', sans-serif;
  font-size:1.25vw;
  font-weight:400;
}
#about .con01 ul li.c01-left p:nth-child(3){
  margin-top:3vh;
  font-family: 'Noto Sans KR', sans-serif;
  font-size:1.5vw;
  font-weight:500;
}
#about .con01 ul li.c01-left p:nth-child(3) input[type="checkbox"]{
  -webkit-appearance: none;
  position: relative;
  width:22px;
	height:22px;
  outline: none !important;
	border:2px solid #FF9900;
  border-radius:4px;
  background:#FFF0D9;
	cursor:pointer;
  margin-right:10px;
}
#about .con01 ul li.c01-left p:nth-child(3) input[type="checkbox"]::before{
  content: "\2713";
  position: absolute;
  top:50%;
  left:50%;
  overflow:hidden;
  transform:scale(0) translate(-50%, -50%);
  line-height:1;
}
#about .con01 ul li.c01-left p:nth-child(3) input[type="checkbox"]:hover{
  border-color: rgba(255, 153, 0, 0.5);
}
#about .con01 ul li.c01-left p:nth-child(3) input[type="checkbox"]:checked {
  background-color: #FF9900;
  border-color: rgba(255, 255, 255, 0.3);
  color: white;
}
#about .con01 ul li.c01-left p:nth-child(3) input[type="checkbox"]:checked::before {
  border-radius: 2px;
  transform: scale(1) translate(-50%, -50%)
}

#about .con01 ul li.c01-right{
  float:right;
  height:92vh;
}
#about .con01 ul li.c01-right img{
  width:90%;
  object-fit:cover;
}

#about .con02{
  width:100%;
  height:80vh;
}
#about .con02 h3{
  padding:20vh 0 0 15vw;
  font-family: 'Noto Sans KR', sans-serif;
  font-size:2.2vw;
  font-weight:700;
}
#about .con02 .marquee {
  height:200px;
  width:100%;
  overflow: hidden;
  position: relative;
  margin-top:60px;
}
#about .con02 .marquee div {
  display: block;
  width:200%;
  height:200px;
  position:absolute;
  overflow:hidden;
  animation: marquee 30s linear infinite;
}
#about .con02 .marquee span {
  float:left;
  width:50%;
}
@keyframes marquee {
  0% { left: 0; }
  100% { left: -100%; }
}


#about .con03{
  /* border:1px solid crimson; */
  width:100%;
  height:92vh;
  background-color:#FFF0D9;
}
#about .con03 a{
  text-decoration:none;
  color:#000;
}
#about .con03 ul{
  width:100%;
  height:100%;
  overflow:hidden;
}
#about .con03 ul li{
  /* border:1px solid blue; */
  width:50%;
}
#about .con03 ul li.c03-left{
  float:left;
  height:92vh;
}
#about .con03 ul li.c03-left img{
  width:100%;
  object-fit:cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

#about .con03 ul li.c03-right{
  float:right;
  padding:30vh 15vw 0 0;
  text-align:right;
}
#about .con03 ul li.c03-right p{font-family: 'Noto Sans KR', sans-serif;}
#about .con03 ul li.c03-right p:nth-child(1){
  font-size:2.6vw;
  font-weight:700;
}
#about .con03 ul li.c03-right p:nth-child(2){
  margin-top:2vh;
  font-size:1.25vw;
  font-weight:400;
}
#about .con03 ul li.c03-right p:nth-child(3){
  margin-top:3vh;
  font-size:1.5vw;
  font-weight:500;
}
#about .con03 ul li.c03-right p:nth-child(3) input[type="checkbox"]{
  -webkit-appearance: none;
  position: relative;
  width:22px;
	height:22px;
  outline: none !important;
	border:2px solid #FF9900;
  border-radius:4px;
  background:#FFF0D9;
	cursor:pointer;
  margin-right:10px;
}
#about .con03 ul li.c03-right p:nth-child(3) input[type="checkbox"]::before{
  content: "\2713";
  position: absolute;
  top:50%;
  left:50%;
  overflow:hidden;
  transform:scale(0) translate(-50%, -50%);
  line-height:1;
}
#about .con03 ul li.c03-right p:nth-child(3) input[type="checkbox"]:hover{
  border-color: rgba(255, 153, 0, 0.5);
}
#about .con03 ul li.c03-right p:nth-child(3) input[type="checkbox"]:checked {
  background-color: #FF9900;
  border-color: rgba(255, 255, 255, 0.3);
  color: white;
}
#about .con03 ul li.c03-right p:nth-child(3) input[type="checkbox"]:checked::before {
  border-radius: 2px;
  transform: scale(1) translate(-50%, -50%)
}


.slide button:nth-child(1) {
  display:none;
}

.slide button:nth-last-child(1) {
  display:none;
}

.slide button {
  background-color: #544F4A;
  border-radius: 10px;
  border: none;
  width:0;
  height:0;
  margin:0;
  font-size:0px;
}

.slide {
  position: fixed;
  display: flex;
  justify-content: center;
  width: 100%;
  bottom: 0px;
  margin:0 auto;
}

.slide button:disabled {
  background-color: none;
  border: none;
}