/* MyPage.css */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700;900&display=swap');

*{box-sizing:border-box; list-style-type:none; font-family: 'Noto Sans KR', sans-serif;}
body{margin:0; padding:0;}
*{margin:0; padding:0;}

.headerarea{
  width:100%;
  height:8vh;
}
.myPage{
  width:100%;
  height:100%;
  padding-top:8vh;
  position:relative;
}
.myPage .sideBar{
  width:20%;
  height:79%;
  position:fixed;
  top:0;
  left:0;
  padding-top:8vh;
  text-align:center;
  z-index:1;
}
.myPage .sideBar .sideProfile{
  margin:0 auto;
  padding-top:10vh;
}
#profile_container .pf-img{margin-bottom:2vh;}
#profile_container .pf-text{
  font-family: 'Noto Sans KR', sans-serif;
  font-size:1.3vw;
  font-weight:600;
  color:#000;
  letter-spacing:0.03em;
}
#profile_container .pf-text span{
  font-size:1vw;
  font-weight:400;
}
.myPage .sideBar .sideProfile .line{
  margin:3vh 0;
}
#side-nav .nav-sub2{
  font-family: 'Noto Sans KR', sans-serif;
  font-size:1.3vw;
  color:#000;
  letter-spacing:0.03em;
  margin-bottom:2vh;
}
#side-nav .nav-sub2 a{
  text-decoration:none;
  color:#000;
}
#side-nav .nav-sub2 a:hover{font-weight:600;}
#side-nav .nav-sub2 a:focus{font-weight:600;}
#side-nav .nav-sub2:nth-child(1) a{font-weight:600;}



.myPage .mainPage{
  border-left:0.3vw solid #FFF8ED;
  width:80%;
  height:100%;
  /* background-color:lightpink; */
  margin-left:20%;
  padding:6vh 0 10vh;
  text-align:center;
}

/* ------------------------- 나만의 챌린지 ---------------------------- */
/* 나만의 챌린지 */
.my_challenge {
  /* border:1px solid blue; */
  width:90%;
  height:39vh;
  position:relative;
}

/* 나만의 챌린지 상단 */
.my_top{
  width:100%;
  overflow:hidden;
}
.my_top .my_title{
  float:left;
  font-weight:700;
  font-size:1.3vw;
  color: #555555;
}
.my_top .my_modify{
  float:right;
  cursor:pointer;
  font-size:1vw;
  color: #999999;
}
.my_top .my_modify a{
  text-decoration:none;
  color: #999999;
}
.my_top .my_modify a:hover{color: #555555;}

/* 캘린더 전체 */
.calender {
  width:80%;
  /* border: 1px solid gold; */
  border-collapse: collapse;
  position:absolute;
  right:0;
  bottom:0;
}

/* 월 이동 버튼 커서 포인터 */
#days > td:first-child > span:last-child,
#days > td:first-child > span:first-child{
  cursor: pointer;
}

/* 월 이동 버튼 배치 */
#days > td:first-child > span:not(:last-child){
  margin-right: 45px;
}

/* 월 부분 */
#days > td:first-child {
  width: 150px;
  height: 15px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.7);

  text-align: center;
}

/* 날짜 부분 */
#days > td:not(:first-child) {
  width: 35px;
  height: 15px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.7);

  font-weight:700px;
  font-size: 0.7vw;
  line-height:1vw;
  text-align: center;
}

/* 나만의 챌린지 입력 부분 */
.check > input {
  border: none;
  width: 100%;
  height: 4vh;

  font-weight: 700;
  font-size: 0.8vw;
  line-height: 15px;
  color: #000000;

  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  border-right: 1px solid rgba(0, 0, 0, 0.2);
}

/* 체크하는 부분 */
.check > td {
  border: 1px solid rgba(0, 0, 0, 0.2);
  text-align: center;
}



/* -----------------------------여기서부터 참여중인 공유 챌린지 ------------------------ */
/* 참여중인 공유 챌린지 전체 부분 */
.share_challenge {
  /* border:1px solid blue; */
  width:90%;
  height:auto;
  margin-top:7vh;
}

/* 참여중인 공유 챌린지 상단 */
.share_top{
  width:100%;
  overflow:hidden;
}
.share_top .share_title{
  float:left;
  font-weight:700;
  font-size:1.3vw;
  color: #555555;
}
.share_top .share_link{
  float:right;
  cursor:pointer;
  font-size:1vw;
  color: #999999;
}
.share_top .share_link a{
  text-decoration:none;
  color: #999999;
}
.share_top .share_link a:hover{color: #555555;}

/* 참여중인 공유 챌린지 */
.share_body {
  margin-top:3vh;
  width:100%;
  overflow:hidden;
}
.share_body ul{
  width:100%;
  overflow:hidden;
}
#my_challenge{
  /* border:2px solid green; */
  float:left;
  width:31%;
  height:50vh;
  margin-right:3.5%;
  /* background-color: rgba(255, 255, 255, 0.7); */
  /* background: #FFFCF0; */
  /* box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.1); */
  border-radius:1.5vw;
  cursor:pointer;
}
#my_challenge:nth-child(3){margin-right:0;}
.ch-image{
  width:100%;
  height:28vh;
  border-radius:1.5vw 1.5vw 0px 0px;
  overflow:hidden;
  align-items:center;
  box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.1);
}
.ch-image .ch-img{
  width:100%;
  height:100%;
  object-fit:cover;
  object-position:center;
}

.ch-text{
  border:3px solid #FF9900;
  border-top:none;
  background: #FFFCF0;
  box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.1);
  clear:both;
  width:100%;
  padding:2.5vh 10% 3vh;
  border-radius: 0px 0px 1.5vw 1.5vw;
  text-align:left;
  position:relative;
}
.ch-text .ch-title {
  clear: both;
  font-weight:700;
  font-size:1.2vw;
  color:#333333;
  margin-bottom:0.5vh;
}
.ch-text .ch-subtext {
  clear: both;
  margin-bottom:4vh;
  font-size:0.85vw;
  color:#666666;
}
.ch-text .ch-date {
  clear: both;
  font-weight: 700;
  font-size: 16px;
  color: #ff6700;
  position:absolute;
  right:7%;
  bottom:1.5vh;
} 