/* MypageChallenge.css */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700;900&display=swap');

*{box-sizing:border-box; list-style-type:none; font-family: 'Noto Sans KR', sans-serif;}
body{margin:0; padding:0;}
*{margin:0; padding:0;}


.myPage{
  width:100%;
  height:auto;
  padding-top:8vh;
  position:relative;
  /* border:1px solid blue; */
}

.myPage .mainPage{
  border-left:0.3vw solid #FFF8ED;
  width:80%;
  height:auto;
  /* background-color:lightpink; */
  margin-left:20%;
  padding:8vh 0 10vh;
  text-align:center;
}


/* 참여중인 공유 챌린지 전체 부분 */
.share_challenge{
  /* border:1px solid blue; */
  width:90%;
  height:auto;
  overflow:hidden;
}

/* 참여중인 공유 챌린지 상단 */
.share_top{
  width:100%;
  overflow:hidden;
}
.share_top .share_title{
  float:left;
  font-weight:700;
  font-size:1.3vw;
  color: #555555;
}
.share_top .share_link{
  float:right;
  cursor:pointer;
  font-size:1vw;
  color: #999999;
  padding-top:1vh;
}
.share_top .share_link a{
  text-decoration:none;
  color: #999999;
}
.share_top .share_link a:hover{color: #555555;}

/* 참여중인 공유 챌린지 */
.share_body {
  margin-top:3vh;
  width:100%;
  overflow:hidden;
}
.share_body2{padding-top:3vh;}

.share_body ul{
  width:100%;
  overflow:hidden;
}
#my_challenge{
  /* border:2px solid green; */
  float:left;
  width:31%;
  height:50vh;
  margin-right:3.5%;
  /* background-color: rgba(255, 255, 255, 0.7); */
  /* background: #FFFCF0; */
  /* box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.1); */
  border-radius:1.5vw;
  cursor:pointer;
}
#my_challenge:nth-child(3){margin-right:0;}
.ch-image{
  width:100%;
  height:28vh;
  border-radius:1.5vw 1.5vw 0px 0px;
  overflow:hidden;
  align-items:center;
  box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.1);
}
.ch-image .ch-img{
  width:100%;
  height:100%;
  object-fit:cover;
  object-position:center;
}

.ch-text{
  border:3px solid #FF9900;
  border-top:none;
  background: #FFFCF0;
  box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.1);
  clear:both;
  width:100%;
  padding:2.5vh 10% 3vh;
  border-radius: 0px 0px 1.5vw 1.5vw;
  text-align:left;
  position:relative;
}
.ch-text .ch-title {
  clear: both;
  font-weight:700;
  font-size:1.2vw;
  color:#333333;
  margin-bottom:0.5vh;
}
.ch-text .ch-subtext {
  clear: both;
  margin-bottom:4vh;
  font-size:0.85vw;
  color:#666666;
}
.ch-text .ch-date {
  clear: both;
  font-weight: 700;
  font-size: 16px;
  color: #ff6700;
  position:absolute;
  right:7%;
  bottom:1.5vh;
} 