/* MypageChallenge.css */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700;900&display=swap');

*{box-sizing:border-box; list-style-type:none; font-family: 'Noto Sans KR', sans-serif;}
body{margin:0; padding:0;}
*{margin:0; padding:0;}


.myPage{
  width:100%;
  height:100vh;
  padding-top:8vh;
  position:relative;
  /* border:1px solid blue; */
}

.myPage .mainPage{
  border-left:0.3vw solid #FFF8ED;
  width:80%;
  height:100%;
  /* background-color:lightpink; */
  margin-left:20%;
  padding:8vh 0 10vh;
  text-align:center;
}


/* 참여중인 공유 챌린지 전체 부분 */
.share_challenge{
  /* border:1px solid blue; */
  width:90%;
  height:auto;
  overflow:hidden;
}

/* 참여중인 공유 챌린지 상단 */
.share_top{
  width:100%;
  overflow:hidden;
}
.share_top .share_title{
  float:left;
  font-weight:700;
  font-size:1.3vw;
  color: #555555;
}
.share_top .share_link{
  float:right;
  cursor:pointer;
  font-size:1vw;
  color: #999999;
  padding-top:1vh;
}
.share_top .share_link a{
  text-decoration:none;
  color: #999999;
}
.share_top .share_link a:hover{color: #555555;}

/* 참여중인 공유 챌린지 */
.share_body {
  margin-top:3vh;
  width:100%;
  overflow:hidden;
}
/* .share_body2{padding-top:3vh;} */

.share_body ul{
  width:100%;
  overflow:hidden;
}

#my_challenge{
  /* border:2px solid green; */
  display: inline-block;
  float:left;
  width:31%;
  height:300px;
  margin-right:3.5%;
  background-color: #fefaf8;
  border-radius: 1.5vw;
  border: 2px solid #FF9900;
  cursor:pointer;
}
#my_challenge:nth-child(3){margin-right:0;}
.ch-image{
  width:100%;
  height:180px;
  border-radius:1.5vw 1.5vw 0px 0px;
  overflow:hidden;
  align-items:center;
}
.ch-image .ch-img{
  width:100%;
  height:180px;
  object-fit:cover;
  object-position:center;
}

.ch-text{
  clear: both;
  float: left;
  width: 100%;
  height: 120px;
  padding: 2.5vh 10% 3vh;
  border-radius: 0px 0px 1.5vw 1.5vw;
}
.ch-text .ch-title {
  clear: both;
  float: left;
  margin: 0;
  padding: 0;
  height: 35px;
  overflow: hidden;
  font-weight:700;
  font-size:1.2vw;
  text-align: left;
  color:#333333;
}
.ch-text .ch-subtext {
  clear: both;
  float: left;
  height: 25px;
  margin-bottom:5px;
  padding: 0;
  overflow: hidden;
  font-weight: 400;
  font-size: 0.85vw;
  line-height: 1vw;
  text-align: left;
  color:#666666;
}
.ch-text .ch-date {
  clear: both;
  float: right;
  font-weight: 700;
  font-size: 0.85vw;
  color: #ff6700;
  right:7%;
  bottom:1.5vh;
}