/* Sidebar.css */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700;900&display=swap');

*{box-sizing:border-box; list-style-type:none;}
body{margin:0; padding:0;}
*{margin:0; padding:0;}

.sideBar-wrap{
  width:100%;
  height:auto;
}
.sideBar-wrap .sideBar{
  width:20%;
  height:79%;
  position:fixed;
  top:8vh;
  left:0;
  text-align:center;
  z-index:4;
  /* background-color:mediumspringgreen; */
}
.sideBar-wrap .sideBar .sideProfile{
  margin:0 auto;
  padding-top:12vh;
}
#profile_container .pf-img{margin-bottom:2vh;}
#profile_container .pf-text{
  font-family: 'Noto Sans KR', sans-serif;
  font-size:1.3vw;
  font-weight:600;
  color:#000;
  letter-spacing:0.03em;
}
#profile_container .pf-text span{
  font-size:1vw;
  font-weight:400;
}
.sideBar-wrap .sideBar .sideProfile .line{
  margin:4vh 0;
}
#side-nav .nav-sub{
  font-family: 'Noto Sans KR', sans-serif;
  font-size:1.3vw;
  color:#000;
  letter-spacing:0.03em;
  margin-bottom:2vh;
}
#side-nav .nav-sub a{
  text-decoration:none;
  color:#000;
}
#side-nav .nav-sub a:hover{font-weight:600;}
#side-nav .nav-sub a:focus{font-weight:600;}